*{
    margin: 0;
    box-sizing: border-box;
}

.background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
/* interface */
.play_btn,
.stop_btn{
    position: absolute;
    text-align: center;
    line-height: 5.8vw;
    top:10vh;
    left: 50vw;
    width: 7vw;
    height: 7vw;
    background-color: burlywood;
    font-size: 4vw;
    font-weight: 700;
    border-radius: 20%;
    color: cornsilk;
    border: .5vw solid cornsilk;
    transform: translate(-50%, -50%);
    transition: 150ms all ease-in;
    cursor: pointer;
}
.play_btn:hover,
.stop_btn:hover{
    transform: translate(-50%, -50%) scale(1.1);
}
.stop_btn{
    display: none;
}

.timer {
    position: absolute;
    text-align: center;
    line-height: 6.2vw;
    top:22vh;
    left: 50vw;
    margin: 3vh 0;
    width: 18vw;
    height: 8vw;
    background-color: rgb(40, 39, 58);
    font-size: 6vw;
    font-weight: 700;
    border-radius: 4vh;
    color: gold;
    border: .6vw dashed lightslategrey;
    transform: translate(-50%, -50%);
}

.carrotsNumber{
    position: absolute;
    text-align: center;
    line-height: 6vw;
    top:40vh;
    left: 50vw;
    width: 7.8vw;
    height: 7.8vw;
    background-color: coral;
    font-size: 5vw;
    font-weight: 700;
    border-radius: 50%;
    color: cornsilk;
    border: .5vw solid cornsilk;
    transform: translate(-50%, -50%);
}


/* field & carrots & bugs */
.field{
    width : 94vw;
    /* background: rgb(131, 45, 211, .5); */
    top: 50vh;
    height: 40vh;
    z-index: 1;
    position: fixed;
}

.carrot,
.bug{
    position: absolute;
    width: 10vw;
    transition: 150ms all ease-in;
}
.carrot:hover,
.bug:hover{
    transform: scale(1.1);
}
.bug{
    z-index: 1;
    width: 7vw;
}

/* pop-up */
.replay,
.victory {
    position: absolute;
    background-color: rgb(7, 7, 7, .7);
    width: 40vw;
    height: 40vh;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 8vh;
    justify-content: center;
    display: none;
}
.replay__icon{
    color: cornsilk;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 7vh;
}
.replay__icon i {
    font-size: 12vh;
    padding-top: 8vh;
    padding-bottom: 4vh;
    cursor: pointer;
    transition: 150ms all ease-in;
}
.victory__icon{
    color: cornsilk;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 6vh;
}
.victory__icon i {
    font-size: 14vh;
    transition: 150ms all ease-in;
}
.victory__icon div {
    margin-top: 2vh;
    font-size: 4vh;
    line-height: 4vh;
    background-color: coral;
    padding: 2vh;
    border-radius: 2vh;
    transition: 150ms all ease-in;
    cursor: pointer;
}
.victory__icon div:hover,
.replay__icon i:hover{
    transform: scale(1.1);
}