*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(340deg, rgba(225,238,195,1) 28%, rgba(240,80,83,.9) 100%);
}
.appContainer{
    position: absolute;
    background-color: crimson;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 30px;
    display: flex;
    flex-flow: column;
    box-shadow: 4px 4px 20px rgb(0, 0, 0, 0.4);
}
/* header */
.header-title{
    text-align: center;
    color: floralwhite;
    font-size: 32px;
    line-height: 64px;
    margin: 0;
    padding: 0 0 8px 0;
}
/* scroll style */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
background-color: transparent;
}
::-webkit-scrollbar-thumb {
border-radius: 3px;
background-color: lightgray;
}
::-webkit-scrollbar-button {
width: 0;
height: 0;
}
/* item display */

.items{
    padding: 0;
    margin: 0;
    height: 500px;
    width: 100%;
    overflow-y: auto;
    background-color: floralwhite;
}
.item{
    position: relative;
    height: 80px;
    margin: 8px;
    border-radius: 18px;
    background-color: tomato;
    color: floralwhite;
    display: flex;
    align-items: center;
    font-size: 32px;
}
.item label{
    cursor: pointer;
}
.item-check{
    display: none;
}
.check, .circle{
    margin: 0 12px 0 20px;
    cursor: pointer;
}
.check{
    display: none;
}
.item-check:checked ~ label{
    text-decoration-line: line-through;
    opacity: .7;
}
.item-check:checked ~ .check{
    display: inline;
    opacity: .7;
}
.item-check:checked ~ .circle{
    display: none;
}
.item-check:checked ~ .item-delete{
    opacity: .7;
}

.item-delete{
    color: floralwhite;
    position: absolute;
    right: 28px;
}
.item-delete i {
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
.item-delete i:hover {
    transform: scale(1.2);
    color: brown;
}
.footer{
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: start;
}
#footer-input{
    border: none;
    outline: none;
    height: 30px;
    font-size: 18px;
    padding: 4px 8px;
    background-color: moccasin;
}
.footer-btn{
    color: floralwhite;
    font-size: 50px;
    padding: 10px;
    text-align: center;
}
.footer-btn i {
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
.footer-btn i:hover {
    color: rgb(110, 9, 9);
    transform: scale(1.1);
}
